
@{
    ViewData["Title"] = "Hikayemiz";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Hikayemiz</h1>

    @*<h3>ZiziArt&Craft; 2019 yılında özel kağıtların farklı temalarla sulu boya sayesinde buluştuğu tasarımları üreten bir girişimdir. </h3>*@
</div>


